.gridContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border-radius: var(--border-radius);
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.number, .alphabet {
    display: flex;
    justify-content: center;
}