.gridContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border-radius: var(--border-radius);
    gap: 2.5px;
    justify-content: center;
    align-items: center;
}

.number, .alphabet {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .num1 {
    grid-row-start: 2;
}

.num1 {
    grid-row-start: 2;
}

.num1 {
    grid-row-start: 2;
}

.num1 {
    grid-row-start: 2;
}

.num1 {
    grid-row-start: 2;
} */

