.gridComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    border-radius: var(--border-radius);
    gap: 2.5px;
    justify-content: center;
    align-items: center;
}

.number, .alphabet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: .3rem 1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--clr-cyber);
    color: white;
    font-size: var(--fs-s)
}

.btn:hover {
    cursor: pointer;
}