.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-blue-800);
}

.header {
  margin-top: 5rem;
}

.primaryHeader, .secondaryHeader {
  margin: 0 auto;
  text-align: center;
}

.primaryHeader {
  font-family: "Anton", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--fs-xxl);
  color: white;
}

.secondaryHeader {
  padding: .3rem;
  font-family: var(--ft-cyber);
  font-size: var(--fs-l);
  background: var(--clr-cyber);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.button {
  background-color: var(--clr-yellow-400);
  color: var(--clr-blue-800);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.3rem 1rem;
  margin: .5rem;
  font-family: var(--ft-cyber);
  font-size: var(--fs-m);
  box-shadow: 0px 1px 2px 2px #DDDDDD inset;
  box-shadow: 0px -1px 2px 2px #AAAA inset;
}

.button:hover {
  cursor: pointer;
  background: var(--clr-cyber);
  color: white;
}