.tile {
    border-radius: 3px;
    min-width: 20px;
    min-height: 20px;
}

.tileWater {
    background-color: hsl(200, 100%, 50%);
}

.tileBoat {
    background-color: grey;

}

.tileHover {
    background-color: rgba(128, 128, 128, 0.5);
}