.tile {
    border-radius: 3px;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tileWater {
    background-color: var(--clr-blue-400);
}

.tileBoat {
    background-color: #e721da;

}

.tileHover {
    background-color: #e08bdb;
}

.tileHit {
    height: 10px;
    width: 10px;
    background-color: rgb(131, 0, 163);
    border-radius: 50%;
}

.tileMiss {
    height: 10px;
    width: 10px;
    background-color: var(--clr-blue-200);
    border-radius: 50%;
}

@media (min-width: 800px) {
    .tile {
        min-width: 30px;
        min-height: 30px;
    }
}

@media (min-width: 1200px) {
    .tile {
        min-width: 35px;
        min-height: 35px;
    }
}